<% content_for :title, "Wisdom From You - A Letter" %>

<body>
    <div class="container">
        <h1>Wisdom From You - A Letter</h1>
        
        <p>All the wisdom we know, from what we call the divine to the practical, has come through humanity.</p>
        
        <p>The me's and you's that have come before and are yet to come.</p>
        
        <p class="question">What would my life and your life look like if we could always tap into the wisdom that moves through us?</p>
        
        <p>This software and art form is the movement towards finding that answer:</p>
        
        <p class="question">Could we change ourselves, and therefore our worlds, by constantly asking ourselves the right questions?</p>
        
        <p>I am Ikraam, the first user here, I hope you will join me.</p>
        
        <div class="signature">- Ikraam</div>
        
        <div class="post-thought">
            <p><strong>Post Thought:</strong></p>
            <p>This platform is a question and it will transform me and you. We are its creation as we create it.</p>
            
            <p>Here is a meta-question for you and me:</p>
            <p class="question">Is the point of a question to find an answer or is to experience the process of answering it?</p>
        </div>
    </div>
</body>
</html>